body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 900px;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

.breed-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.cat-info {
  margin-top: 20px;
}

.cat-info .cat-info-element {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cat-info .cat-info-title {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.cat-info .cat-info-description {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 10px;
}

.cat-info .cat-info-temperament {
  font-weight: 700;
}
